name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            10.0.x
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build
      - name: Test
        run: dotnet test
      - name: Pack
        run: dotnet pack
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: nuget-package
          path: artifacts/package/release/*.nupkg

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    permissions:
      id-token: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: nuget-package
      - name: Login to NuGet.org
        uses: NuGet/login@v1
        id: nuget-login
        with:
          user: ${{ github.repository_owner }}
      - name: Publish to NuGet.org
        env:
          NUGET_API_KEY: ${{ steps.nuget-login.outputs.NUGET_API_KEY }}
        run: dotnet nuget push artifacts/package/release/*.nupkg --source https://api.nuget.org/v3/index.json
