name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            10.0.x
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build
      - name: Test
        run: dotnet test
      - name: Pack
        run: dotnet pack
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: nuget-package
          path: artifacts/package/release/*.nupkg
          retention-days: 14
