name: Publish

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yaml

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          name: nuget-package
          path: artifacts
      - name: Login to NuGet.org
        uses: NuGet/login@v1
        id: nuget-login
        with:
          user: ${{ github.repository_owner }}
      - name: Publish to NuGet.org
        run: |
          dotnet nuget push artifacts/*.nupkg \
            --api-key ${{ steps.nuget-login.outputs.NUGET_API_KEY }} \
            --source https://api.nuget.org/v3/index.json
